In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="pruebas",
  password="pruebas123",
  database="PabloLLC"
)

In [14]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000215C121BF70>

In [15]:
mycursor = mydb.cursor()

In [16]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('checkpoint_m2',)
('henry',)
('information_schema',)
('mysql',)
('pablollc',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [17]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x[0])

canaldeventa
cliente
compra
gasto
producto
sucursal
tipodegasto
venta

In [18]:
import pandas as pd
proveedores = pd.read_excel('Proveedores.xlsx', index_col=0)
proveedores.head()

,Nombre,Address,City,State,Country,departamen
IDProveedor,,,,,,
1,NaN,BEREGUESTEIN 36,AVELLANEDA,BUENOS AIRES,ARGENTINA,AVELLANEDA
2,San Cirano,ALBERTI 965,CORONEL BRANDSEN,BUENOS AIRES,ARGENTINA,BRANDSEN
3,Bell S.A.,MORENO 331,CAMPANA,BUENOS AIRES,ARGENTINA,CAMPANA
4,Rivero Insumos,PTE. PERON 3872,VALENTIN ALSINA,BUENOS AIRES,ARGENTINA,LANUS
5,Laprida Computacion,AVDA. PEDRO PEREYRA 1339,LAPRIDA,BUENOS AIRES,ARGENTINA,LAPRIDA

In [30]:
from sqlalchemy import create_engine
import pymysql

sqlEngine = create_engine('mysql+pymysql://pruebas:pruebas123@127.0.0.1/pablollc', pool_recycle=3600)
dbConnection = sqlEngine.connect()
tableName = 'proveedor'

try:
    frame = proveedores.to_sql(tableName, dbConnection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table proveedor created successfully.

In [31]:
empleados = pd.read_excel('Empleados.xls', index_col=0)
empleados.head()

,Apellido,Nombre,Sucursal,Sector,Cargo,Salario
ID_empleado,,,,,,
1968,Burgos,Jeronimo,Caseros,Administración,Administrativo,32000
1674,Villegas,Estefania,Caseros,Administración,Vendedor,32000
1516,Fernandez,Guillermo,Caseros,Administración,Vendedor,45000
1330,Ramirez,Eliana,Caseros,Administración,Vendedor,32000
1657,Carmona,Jose,Caseros,Administración,Vendedor,32000

In [32]:
sqlEngine = create_engine('mysql+pymysql://pruebas:pruebas123@127.0.0.1/pablollc', pool_recycle=3600)
dbConnection = sqlEngine.connect()
tableName = 'empleado'

try:
    frame = empleados.to_sql(tableName, dbConnection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table empleado created successfully.

In [38]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

clientes = pd.read_csv('Clientes.csv',delimiter=';',index_col=0)

sqlEngine = create_engine('mysql+pymysql://pruebas:pruebas123@127.0.0.1/pablollc', pool_recycle=3600)
dbConnection = sqlEngine.connect()
tableName = 'cliente'

try:
    frame = clientes.to_sql(tableName, dbConnection, if_exists='replace')
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);   
finally:
    dbConnection.close()

Table cliente created successfully.