In [39]:
import mysql.connector

#Antes, en MySQL se crea usuario --> CREATE USER 'pruebas'@'localhost' IDENTIFIED BY 'pruebas123';
#En MySQL se otorgan permisos --> GRANT type_of_permission ON database_name.table_name TO 'username'@'localhost';
#En este caso se usó ALL para type_of_permission; *.* en database_name.table_name; y usuario 'pruebas'@'localhost'

mydb = mysql.connector.connect(
  host="localhost",
  user="pruebas",
  password="pruebas123",
  database="henry"
)

In [13]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023BD0914100>

In [40]:
mycursor = mydb.cursor()

In [15]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('henry',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [23]:
mycursor.execute("SHOW TABLES")

In [24]:
for x in mycursor:
  print(x[0])

alumno
carrera
cohorte
instructor

In [41]:
sql = 'SELECT * FROM instructor'
mycursor.execute(sql)
for x in mycursor:
  print(x)

(1, 25456879, 'Antonio', 'Barrios', datetime.date(1981, 7, 9), datetime.date(2019, 11, 8))
(2, 28456321, 'Lucia', 'Fernandez', datetime.date(1992, 5, 25), datetime.date(2019, 11, 8))
(3, 27198354, 'Leo', 'Paris', datetime.date(1985, 6, 20), datetime.date(2021, 8, 15))
(4, 36987520, 'Agustín', 'Casagne', datetime.date(1988, 8, 17), datetime.date(2021, 8, 15))
(5, 33456215, 'Franco', 'Caseros', datetime.date(1995, 5, 1), datetime.date(2021, 8, 15))
(6, 30521369, 'Dario', 'Ramirez', datetime.date(1989, 7, 20), datetime.date(2021, 12, 1))
(7, 28856789, 'Agustina', 'Medina', datetime.date(1991, 3, 8), datetime.date(2021, 12, 1))
(8, 33128987, 'Jorge', 'Perez', datetime.date(1988, 2, 19), datetime.date(2021, 12, 1))

In [25]:
import pandas as pd
diccionario = {}
henry = pd.DataFrame(diccionario)

mycursor.execute("SHOW TABLES")
for x in mycursor:
    henry[x[0]] = []

In [26]:
henry

Empty DataFrame
Columns: [alumno, carrera, cohorte, instructor]
Index: []

In [35]:
alumno = pd.read_sql('SELECT * FROM alumno', con=mydb, index_col = 'id_alumno')
carrera =pd.read_sql('SELECT * FROM carrera', con=mydb)
cohorte = pd.read_sql('SELECT * FROM cohorte', con=mydb)
instructor = pd.read_sql('SELECT * FROM instructor', con=mydb)

e:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
e:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
e:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
e:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [16]:
mycursor.execute("SELECT * FROM carrera")

In [17]:
for x in mycursor:
  print(x)

(1, 'Full Stack Developer')
(2, 'Data Science')